* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #2a6ed3;
    height: 60px;
    /* max-width: 80vw; */
    margin-inline: auto;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header * {
    color: #fff;
}

.header li {
    list-style-type: none;
}

.header a {
    text-decoration: none;
}


